{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": "airbnb/base",
  "rules": {
    "arrow-parens": 0,
    "import/no-extraneous-dependencies": 0,
    "no-underscore-dangle": 0
    },
  "env": {
    "browser": true,
    "node": true
  }
}
